experiments/old/data
experiments/old/experiment
experiments/old/experiment-eval
experiments/old/data_large
experiments/old/tmp
experiments/old/figures
experiments/old/prof.txt
experiments/old/osrt_config.tmp.json
experiments/old/osrt_model.json
experiments/experiments.json
experiments/results.csv
experiments/experiment
experiments/tmp
experiments/log.err
results/old
__pycache__
build/**
!.gitkeep
.venv/
*.code-workspace
.vscode/
data/binarized/
data/cleaned/
data/raw/
data/cache/
data/prepared/
data/split
experiments/plot
